.p{
    background-color: rgb(209, 11, 11);
    color: yellow;
    height: 500px;
    padding: 13%;
}
.a{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 500px;
    padding: 13%;
}